body {
    background-image: url('/assets/img/bg.jpg');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2; /* Assuming you want the #f2f2f2 color to show through if bg.jpg doesn't load */
}

#loginSelection {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 0.75em 1.5em; /* Using em makes the padding scale with the font-size */
    margin: 0 0.625em; /* Margin scaled down for small screens */
    background-color: #5F7A61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.125rem; /* rem units are relative to the root font-size, good for responsive typography */
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6E897C;
  }
  
  /* Smaller devices (phones, less than 768px) */
  @media only screen and (max-width: 768px) {
    button {
      font-size: 1rem; /* Smaller font size on small devices */
      padding: 0.75em 1em; /* Adjust padding to ensure buttons are not too large */
    }
  }
  
  /* Larger devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    button {
      /* Optionally, increase padding and font size for larger screens */
      font-size: 1.25rem;
      padding: 0.75em 2em;
    }
  }
  


.form-container {
display: none;
max-width: 400px;
padding: 30px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
margin-top: 20px;
transition: transform 0.3s ease-in-out;
}

.form-container:hover {
transform: scale(1.05);
}


h2 {
text-align: center;
color: #5F7A61;
font-size: 24px;
}




.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

/* Add animations to input fields */
.form-group input {
width: 100%;
padding: 14px;
margin-bottom: 15px;
border: 1px solid #aaa;
border-radius: 5px;
box-sizing: border-box;
transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
border-color: #5F7A61;
box-shadow: 0 0 8px rgba(81, 203, 238, 0.6);
}

.password-container {
    position: relative;
}

.password-container input[type='password'] {
    padding-right: 40px; /* Increased space for the larger eye icon */
}

.password-container .eye-icon {
    position: absolute;
    right: 10px; /* Adjust the position of the eye icon */
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black; /* Set the color to black */
    font-size: 24px; /* Adjusted font size for a larger eye icon */
}

label {
display: inline-block; /* Make the label inline-block to align with the checkbox */
margin-bottom: 10px;
color: #555;
font-size: 14px;
vertical-align: middle; /* Align the label vertically with the checkbox */
}


button[type="submit"] {
width: calc(100% - 30px); /* Set the width to match the password container */
margin-top: 20px; /* Put it at the top */
background-color: #5F7A61;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
padding: 14px; /* Match the padding with the password input */
transition: background-color 0.3s;
}

button[type="submit"]:hover {
background-color: #6E897C;
}


.checkbox-container {
margin-bottom: 15px;
display: flex;
align-items: center; /* Align items vertically in the center */
}

.checkbox-container input[type='checkbox'] {
width: 16px; /* Set the width of the checkbox */
height: 16px; /* Set the height of the checkbox */
}

.checkbox-container label {
margin-left: 10px;
color: #555;
font-size: 14px;
}