body {
    font-family: Arial, sans-serif;
    background-color: transparent;
}

.headtoolbar {
    background-color: transparent;
    color: black;
    border: 1px solid #5F7A61;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.toolbar-title {
    color: #5F7A61;
    font-size: 40px;
    font-style: bold;
    margin: 0;
}

#box {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: auto; /* Set height to auto */
}

.sectoolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .sectoolbar h3 {
        margin: 0;
    }
    
    #gene {
        background-color: rgb(30, 198, 75);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        }

    .sectoolbar button {
        margin-right: 10px;
        background-image: linear-gradient(#f7f8fa ,#e7e9ec);
        border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 29px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    }
    
    .sectoolbar button:hover{
        border-color: #a2a6ac #979aa1 #82858a;
    transform: scale(1.05);
    }

label {
    margin: 10px 0;
    margin-left: 20px;
}



select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
#iframe-container {
    flex: 1;
    position: relative;
    margin: 20px;
}

table {
width: 100%;
border-collapse: collapse;
margin: 10px 0;
font-family: Arial, sans-serif;
width: 100%;
}

/* Table header styles */
th {
background-color: #f2f2f2;
text-align: center;
padding: 10px;
border: 1px solid #ccc;
font-weight: bold;

}

/* Table cell styles */
td {
text-align: left;
padding: 8px;
border: 1px solid #ccc;

}

/* Alternating row colors */
tr:nth-child(even) {
background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover { 
background-color: #ddd;
}

#reset {
    background-color: #ef6546; /* Background color of the button */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}

#reset:hover {
    background-color: #ff9145; /* New background color on hover */
}