<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <link rel="stylesheet" href="/assets/css/buildingclearance.css">
  <title>Building Clearance</title>

</head>

<body>
  <div class="button-container">
    <button id="downloadButton">
      <span class="download-icon" aria-hidden="true">⬇</span>
      Download
    </button>
  </div>
  <div class="container">
    <div class="page">
      <div class="logo-container">

      </div>
      <div class="content">
        <h1>Building Clearance</h1>

        <div class="certification">
          <h2>Certification Details</h2>
          <label for="newMemberName">Building owner last name:</label>
          <input type="text" id="newMemberName" placeholder="Enter last name" list="names">
          <datalist id="names"></datalist>
          <label for="blockNumberInput">Block Number:</label>
          <input type="number" id="blockNumberInput" placeholder="Enter Block Number">
          <label for="lotNumberInput">Lot Number:</label>
          <input type="number" id="lotNumberInput" placeholder="Enter Lot Number">

          <p class="indented-paragraph">
            Dear Mr./Ms. <span id="exampleName">____________</span>,<br><br>
          </p>
          <p>
            This is to certify that you have been granted a Building Clearance by the Greenfield Homeowners Association
            (HOA) for your property at Block
            <span id="blockNumberOutput">[Block Number]</span>, Lot
            <span id="lotNumberOutput">[Lot Number]</span> within our community. The clearance was approved on
            <span id="approvalDateOutput">[Date of Approval]</span>.
          </p>
          <p>
            With this clearance, you are authorized to proceed with your building-related activities, renovations, or
            construction work within the specified block and lot. We trust that your activities will adhere to our
            community's guidelines and regulations, ensuring a harmonious living environment for all residents.
          </p>
          <p>
            Please keep this clearance document for your records, as it may be required for administrative and legal
            purposes related to your building projects in Greenfield. If you have any questions or need further
            information, please don't hesitate to contact our HOA office.
          </p>
          <p>
            Congratulations on receiving your Greenfield Homeowners Association Building Clearance.
          </p>
          <h3>Authorized Signatory</h3>

          <label for="adminHead">Greenfield head:</label>
          <input type="text" id="adminHead" placeholder="Enter Authorized Signatory Name"
            oninput="convertToUppercase(this)">
        </div>
      </div>
    </div>
  </div>



  <script>
    function convertToUppercase(inputElement) {
      inputElement.value = inputElement.value.toUpperCase();
    }
    window.onload = function () {
      // Function to update the certificate content
      function updateCertificate() {
        const blockNumber = document.getElementById('blockNumberInput').value;
        const lotNumber = document.getElementById('lotNumberInput').value;
        const currentDate = new Date().toLocaleDateString();
        const recipientName = document.getElementById('newMemberName').value;

        document.getElementById('blockNumberOutput').innerText = blockNumber;
        document.getElementById('lotNumberOutput').innerText = lotNumber;
        document.getElementById('approvalDateOutput').innerText = currentDate;
        document.getElementById('exampleName').innerText = recipientName;
      }

      const blockNumberInput = document.getElementById('blockNumberInput');
      const lotNumberInput = document.getElementById('lotNumberInput');
      const recipientNameInput = document.getElementById('newMemberName');

      blockNumberInput.addEventListener('input', updateCertificate);
      lotNumberInput.addEventListener('input', updateCertificate);
      recipientNameInput.addEventListener('input', updateCertificate);

      document.getElementById('downloadButton').addEventListener('click', function () {
        const pdfContainer = document.querySelector('.page');
        const pdfOptions = {
          margin: 0,
          filename: 'Building Clearance.pdf',
          image: { type: 'jpeg', quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { format: 'letter', orientation: 'portrait', height: 792 } // 792 is the height of a standard letter-sized page in points (1 inch).
        };

        html2pdf().from(pdfContainer).set(pdfOptions).save();
      });
    }
  </script>]
  <script type="module" src="../assets/js/forms.js"></script>

</body>

</html>