<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <title>Certificate of Membership</title>
  <link rel="stylesheet" href="/assets/css/certificateofmembership.css">
</head>

<body>

  <div class="button-container">
    <button id="downloadButton">
      <span class="download-icon" aria-hidden="true">⬇</span>
      Downlaod
    </button>

  </div>
  <div class="page">
    <div class="logo-container">

    </div>
    <div class="container">
      <div class="content">
        <h1>Certificate of Membership</h1>

        <div class="form">


          <div class="certification">

            <p>
              Dear Mr./Ms. <input type="text" id="newMemberName" placeholder="" list="names">
              <datalist id="names"></datalist>

            <p class="indented-paragraph">
              I am pleased to officially certify your membership in the Greenfield Homeowners Association (HOA). Your
              acceptance was confirmed on <span id="acceptanceDate">[Date of Acceptance]</span>. As a valued member, you
              have access to all HOA privileges and responsibilities outlined in our governing documents, including
              participation in meetings, voting on important matters, and enjoying common areas and amenities.<br><br>

              Please keep this certification letter for your records, as it may be required for administrative and legal
              purposes related to your Greenfield HOA membership. Welcome to our community! Your involvement will
              greatly contribute to our shared goals of enhancing the Greenfield neighborhood.<br><br>

              If you have any questions or need further information, please don't hesitate to contact our HOA
              office.<br><br>

              Congratulations on becoming a Greenfield Homeowners Association member.
            </p>


            <h3>
              <div id="adminHeadContainer">
                <input type="text" id="adminHeadName" placeholder="" oninput="convertToUppercase(this)">
                <label for="adminHead" id="AdminHead">Greenfield head</label>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    function convertToUppercase(inputElement) {
      inputElement.value = inputElement.value.toUpperCase();
    }
    window.onload = function () {
      document.getElementById('newMemberName').addEventListener('input', function () {
        let newName = this.value;
        let currentDate = new Date().toLocaleDateString();
        document.getElementById('acceptanceDate').innerText = ' ' + currentDate + ' ';
        document.getElementById('exampleName').innerText = newName;
      });

      document.getElementById('downloadButton').addEventListener('click', function () {


        const pdfContainer = document.querySelector('.page');
        const pdfOptions = {
          margin: 0,
          filename: 'Certificate of membership.pdf',
          image: { type: 'jpeg', quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { format: 'letter', orientation: 'portrait' }
        };

        html2pdf().from(pdfContainer).set(pdfOptions).save();


      });
      document.getElementById("memberLabel").style.display = "block";
      document.getElementById("newMemberName").style.display = "inline";
    }


  </script>

  <script type="module" src="../assets/js/forms.js"></script>
</body>

</html>